@import url("https://fonts.googleapis.com/css?family=Quicksand|Yeon+Sung&display=swap");

.login {
    padding: 1rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 6px 7px #ccc;
    overflow: hidden;
}

.Heading {
    font-family: 'Yeon Sung', cursive;
    margin: 1.2rem;
}

.link-form {
    text-decoration: none;
    color: #888282;
}
