@import url("https://fonts.googleapis.com/css?family=Lato|Moulpali|Chenla|Siemreap&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  padding: 10px;
}

.navbar-top {
  border-radius: 12px;
  margin-bottom: 20px;
  a {
    font-family: "Moulpali", cursive;
  }
  ul {
    li {
      a {
        color: #fff;
        font-family: "Moulpali", cursive;
      }
    }
  }
}

.aside {
  float: left;
  width: 25%;
  .about {
    border: 1px solid black;
    border-radius: 5px;
    .side-header {
      width: 100%;
      background-color: #292929;
      padding: 5px;
      color: #fff;
      font-family: "Moulpali", cursive;
    }
    ul {
      li {
        margin-left: 5px;
        margin-top: 5px;
        list-style-type: none;
        a {
          color: black;
          text-decoration: none;
          font-family: "Siemreap", cursive;
        }
      }
    }
  }

  .image__content {
    margin-top: 20px;
    img {
      width: 100%;
      border-radius: 12px;
    }
  }
}

.content__view {
  position: relative;
  width: 70%;
  border: 1px solid black;
  float: left;
  border-radius: 12px;
  margin-left: 2%;
  padding: 10px;
  margin-bottom: 80px;
  word-wrap: break-word;
  .content__heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Moulpali", cursive;
    font-weight: bold;
    font-size: 27px;
  }
  .text__content {
    margin-top: 35px;
    .text__heading {
      font-family: "Moulpali", cursive;
      text-decoration: underline;
    }
    .text {
      font-family: "Siemreap", cursive;
      line-height: 1.8rem;
      width: 100%;
      ul {
        list-style: none;
      }
      .para {
        margin-top: 1rem;
      }
    }
  }
}
//Footer
#footer {
  background-color: #343a40;
  padding: 15px 0 0 0;
  color: #abaaab;
  border-radius: 12px;
  font-family: "Siemreap", cursive;
  clear: both;
}
​ #footer .title {
  font-size: 20px;
  margin-bottom: 20px;
}
​ #footer .title {
  font-family: Koulen, Arial, Helvetica, sans-serif;
}
​p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#footer .copyright p.small {
  font-size: 14px;
  font-weight: 400;
}
.small {
  color: #999;
}
.small,
small {
  font-size: 85%;
}
p {
  margin: 0 0 11px;
  margin-bottom: 10px !important;
}
#footer .copyright p strong {
  color: #ddd;
}
b,
optgroup,
strong {
  font-weight: 700;
}
img.footer-logo {
  height: 60px;
  margin-bottom: 10px;
}
img {
  border: 0;
  vertical-align: middle;
}
#footer a {
  color: #abaaab;
}
a {
  color: #3097d1;
  text-decoration: none;
}
a {
  background-color: transparent;
}
#footer .list-socail {
  font-size: 24px;
  margin-right: 15px;
}
​ ol {
  margin-left: 30px;
  list-style-type: khmer;
}
ol li {
  padding-left: 5pt;
}
